@font-face {
  font-family: "FSAlbertBold";
  font-style: normal;
  font-weight: normal;
  src: url("/file/css/fonts/FSAlbert-Bold.eot");
  src: url("/file/css/fonts/FSAlbert-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/file/css/fonts/FSAlbert-Bold.woff2") format("woff2"),
    url("/file/css/fonts/FSAlbert-Bold.woff") format("woff"),
    url("/file/css/fonts/FSAlbert-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "FSAlbertRegular";
  font-style: normal;
  font-weight: normal;
  src: url("/file/css/fonts/FSAlbert-Regular.eot");
  src: url("/file/css/fonts/FSAlbert-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/file/css/fonts/FSAlbert-Regular.woff2") format("woff2"),
    url("/file/css/fonts/FSAlbert-Regular.woff") format("woff"),
    url("/file/css/fonts/FSAlbert-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "RobotoLight";
  font-style: normal;
  font-weight: normal;
  src: url("/file/css/fonts/Roboto-Light.eot");
  src: url("/file/css/fonts/Roboto-Light.eot?#iefix")
      format("embedded-opentype"),
    url("/file/css/fonts/Roboto-Light.woff2") format("woff2"),
    url("/file/css/fonts/Roboto-Light.woff") format("woff"),
    url("/file/css/fonts/Roboto-Light.ttf") format("ttf");
}

@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("/file/css/fonts/Roboto-Regular.eot");
  src: url("/file/css/fonts/Roboto-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/file/css/fonts/Roboto-Regular.woff2") format("woff2"),
    url("/file/css/fonts/Roboto-Regular.woff") format("woff"),
    url("/file/css/fonts/Roboto-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "RobotoMedium";
  font-style: normal;
  font-weight: normal;
  src: url("/file/css/fonts/Roboto-Medium.eot");
  src: url("/file/css/fonts/Roboto-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("/file/css/fonts/Roboto-Medium.woff2") format("woff2"),
    url("/file/css/fonts/Roboto-Medium.woff") format("woff"),
    url("/file/css/fonts/Roboto-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "RobotoBold";
  font-style: normal;
  font-weight: normal;
  src: url("/file/css/fonts/Roboto-Bold.eot");
  src: url("/file/css/fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
    url("/file/css/fonts/Roboto-Bold.woff2") format("woff2"),
    url("/file/css/fonts/Roboto-Bold.woff") format("woff"),
    url("/file/css/fonts/Roboto-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "BrandonGrotesqueRegular";
  font-style: normal;
  font-weight: normal;
  src: url("/file/css/fonts/BrandonGrotesque-Regular.eot");
  src: url("/file/css/fonts/BrandonGrotesque-Regular.eot?#iefix") format("embedded-opentype"),
    url("/file/css/fonts/BrandonGrotesque-Regular.woff2") format("woff2"),
    url("/file/css/fonts/BrandonGrotesque-Regular.woff") format("woff"),
    url("/file/css/fonts/BrandonGrotesque-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "AeroliteSky";
  font-style: normal;
  font-weight: normal;
  src: url("/file/css/fonts/AeroliteSky.eot");
  src: url("/file/css/fonts/AeroliteSky.eot?#iefix") format("embedded-opentype"),
    url("/file/css/fonts/AeroliteSky.woff2") format("woff2"),
    url("/file/css/fonts/AeroliteSky.woff") format("woff"),
    url("/file/css/fonts/AeroliteSky.ttf") format("ttf");
}
