///COLORS

$color-white: #fff;

$color-gray: #71747a;
$color-gray-dark: #707070;
$color-gray-light: #f5f5f5;
$color-gray-light-2: #f7f8fb;
$color-gray-light-3: #d9daed;
$color-gray-light-4: #bcbee1;

$color-black-1: #27292d;
$color-black-2: #444444;
$color-black-3: #666666;
$color-black-4: #333333;
$color-black-5: #313133;
$color-black-6: #060C3A66;
$color-black-7: #54298760;
$color-black-8: #404041;

$color-pruple: #542987;
$color-pruple-2: #5b16ab;
$color-pruple-3: #532986;
$color-pruple-dark: #542987;
$color-purple-dark-2:#222A75;
$color-pruple-light: #7d92ee;

$color-yellow: #fbbf25;
$color-yellow-2: #ffc325;

$color-blue: #009fe3;
$color-blue-2: #1490DF;
$color-blue-light: #75d0ea;
$color-blue-light-2: #4fc6e7;
$color-blue-light-3: #029FE3;
$color-blue-light-3:#F1F8FD;
$color-blue-dark: #042164;
$color-blue-dark2:#222A74;
$color-blue-dark3:#000382;
$color-blue-dark4:#005CB9;

$color-navyblue: #232B76;

$color-green: #69b24e;
$color-green2: #0C6838;


$color-pink: #d47dee;

$color-first-box-color:#000484;
$color-second-box-color:#232B76;
$color-third-box-color:#0095FF;

$color-shadow:#00000029;

//HEIGHT
:root {
  --swiper-navigation-size: 40px;
}
