.btn-save {
  display: block;
  width: 150px;
  height: 45px;

  font-size: 17px;
  color: $color-white;
  font-family: 'RobotoBold', sans-serif;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(
    90deg,
    rgba(41, 97, 195, 1) 8%,
    rgba(68, 129, 235, 1) 44%,
    rgba(4, 190, 254, 1) 100%
  );
  padding: 0.6rem;
  border-radius: 30px;
  box-shadow: 0px 20px 70px rgba(6, 12, 58, 0.4);

  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;

  &:hover {
    text-decoration: none;
    color: $color-white;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
}

.btn-login {
  color: $color-first-box-color;
  background-color: #F0F8FC;
  width: 275px;
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: space-between;
  padding: .2rem 1rem;
  border-radius: 25px;
  transition: all .5s;
  font-family: "FSAlbertBold" ,sans-serif;

  &:hover {
    color: $color-first-box-color;
    text-decoration: none;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }

  &--text{
    margin-left: 5.2rem;

    @media (min-width:996px) and (max-width:1200px){
      margin-left: 6rem;
    }
  }
}

.btn-dropdown {
  // position: relative;
  display: inline-block;
  position: absolute;
  right: 10px;
  bottom: 10px;

  a {
    &:hover {
      background-color: $color-blue-light;
    }
  }

  .show {
    display: block;
  }
}

.btn-card-hide {
  @include media767 {
    font-size: 12px;
  }
  display: inline-block;
  width: 150px;
  height: 40px;
  border-radius: 15px;
  background-color: $color-blue-light-2;
  color: $color-white;
  padding: 10px;
  font-size: 15px;
  font-family: 'RobotoRegular', sans-serif;
  border: none;
  box-shadow: 0px 5px 50px rgba(6, 12, 58, 0.4);

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media991 {
    left: 0;
    top: 40px;
  }

  &:hover,
  &:focus {
    background-color: $color-blue-light-2;
    color: $color-white;
    text-decoration: none;
    outline: none;
  }

  &__icon {
    width: 18px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }

  &__child {
    display: none;
    position: absolute;
    left: 130px;
    top: 0;
    border-radius: 20px;
    background-color: $color-blue-light-2;
    min-width: 144px;
    min-height: 175px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 20;
    z-index: 9;

    @supports (-webkit-touch-callout: none) {
      height: 130px;
    }

    @include media991 {
      left: 0;
      top: 45px;
      min-width: 140px;
      box-shadow: none;
    }

    a {
      color: $color-white;
      padding: 4px 14px;
      text-decoration: none;
      color: $color-white;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:first-child {
        margin-top: 10px;
      }
    }
  }
}

.btn-wb-pruple {
  display: inline-block;
  font-size: 13px;
  font-family: 'RobotoBold', sans-serif;
  color: $color-pruple-dark;
  border: 3px solid $color-pruple-dark;
  box-shadow: 0px 0px 20px rgba(20, 144, 223, 0.38);
  border-radius: 29px;
  padding: 0.8rem 1.8rem;

  &:hover {
    text-decoration: none;
    color: $color-pruple-dark;
  }

  @include media991 {
    margin-bottom: 0.5rem;
  }
}

.btn-green {
  display: inline-block;
  font-size: 13px;
  font-family: 'RobotoBold', sans-serif;
  color: $color-white;
  background-color: $color-green;
  border: none;
  box-shadow: 0px 0px 20px rgba(84, 41, 135, 0.38);
  border-radius: 29px;
  padding: 0.8rem 3rem;

  &:hover {
    text-decoration: none;
    color: $color-white;
  }
}

.btn-pruple {
  display: inline-block;
  width: 200px;
  min-height: 48px;
  color: $color-white;
  font-size: 17px;
  font-family: 'RobotoBold', sans-serif;
  background-color: $color-pruple-dark;
  text-align: center;
  padding: 0.8rem 0.5rem;
  box-shadow: 0px 0px 20px rgba(84, 41, 135, 0.38);
  border-radius: 29px;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  border: none;

  &:hover {
    color: $color-white;
    text-decoration: none;
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
  }

  @include media991 {
    font-size: 14px;
    padding: 1rem;
  }
}

.btn-yellow {
  display: inline-block;
  width: 162px;
  height: 40px;
  color: $color-white;
  font-size: 15px;
  font-family: 'RobotoBold', sans-serif;
  background-color: $color-first-box-color;
  text-align: center;
  padding: 0.6rem 1rem;
  box-shadow: 0px 0px 20px #1490DF60;
  border-radius: 29px;
  border: none;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;

  &:hover {
    color: $color-white;
    text-decoration: none;
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
  }

  &:focus {
    outline: none;
  }
}

.btn-login-blue {
  display: inline-block;
  width: 252px;
  height: 48px;
  color: $color-white;
  font-size: 17px;
  font-family: 'FSAlbertBold' ,sans-serif;
  background-color: $color-blue;
  text-align: center;
  padding: 0.8rem 1rem;
  box-shadow: 0px 0px 20px rgba(84, 41, 135, 0.38);
  border: none;
  border-radius: 29px;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;

  &:hover {
    color: $color-white;
    text-decoration: none;
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
  }

  &:focus {
    outline: none;
  }

  @include media991 {
    font-size: 14px;
    padding: 1rem;
  }
}

.btn-gray {
  display: inline-block;
  font-size: 13px;
  font-family: 'RobotoBold', sans-serif;
  color: $color-white;
  background-color: $color-black-3;
  border: none;
  box-shadow: 0px 0px 20px rgba(84, 41, 135, 0.38);
  border-radius: 29px;
  padding: 0.8rem 3rem;

  &:hover {
    text-decoration: none;
    color: $color-white;
  }
}

.btn-certificate {
  max-width: 222px;
  width: 100%;
  font-size: 1em;
  color: $color-white;
  background-color: $color-green;
  font-family: 'RobotoMedium', sans-serif;
  text-align: center;
  border-radius: 9px;
  padding: 0.9rem 1.5rem;
  box-shadow: 0px 0px 20px #69b24e4b;
  text-transform: uppercase;
  border: none;

  &:hover {
    color: $color-white;
    text-decoration: none;
  }

  @include media767 {
    font-size: 1em;
  }

  @include media500 {
    font-size: .7em;
    padding: .5rem .5rem;
  }
}

.btn-register {
  display: flex ;
  align-items: center;
  justify-content: center;
  width: 210px ;
  margin: 0 auto ;
  font-size: 17px ;
  color: $color-blue-dark2 ;
  font-family: 'RobotoBold', sans-serif ;
  text-align: center ;
  text-decoration: none ;
  background: $color-white ;
  padding: .8rem 0.5rem ;
  border-radius: 30px ;
  box-shadow: 0px 20px 70px rgba(6, 12, 58, 0.4) ;
  bottom: 80px;
  transition: transform 0.5s;

  &:hover {
    text-decoration: none ;
    color:$color-blue-dark2;
    transform: scale(1.05);
  }

  &__position{
    margin-top: 1rem;
  }
}

.btn-reg-asia{
  display: flex ;
  align-items: center;
  justify-content: center;
  width: 200px ;
  margin: 0 auto ;
  font-size: 16px ;
  color: $color-blue-dark2 ;
  font-family: 'RobotoBold', sans-serif ;
  text-align: center ;
  text-decoration: none ;
  background: $color-white ;
  padding: .8rem 0.5rem ;
  border-radius: 30px ;
  box-shadow: 0px 20px 70px rgba(6, 12, 58, 0.4) ;
  bottom: 80px;
  transition: transform 0.5s;

  @include media1500 {
    width: 166px;
    font-size: 14px;
  }

  @include media767{
    margin: .5rem 0;
  }

  &:hover {
    text-decoration: none ;
    color:$color-blue-dark2;
    transform: scale(1.05);
  }
}

.btn-register-flex{
  display: flex;
  align-items: center;
  justify-content: center;

  @include media767{
   flex-direction: column;
  }
}

.button-register{
   display: flex;
    align-items: center;
    justify-content: center;
    width: 254px;
    margin: 0 auto;
    font-size: 21px;
    color: #fff;
    font-family: 'FSAlbertBold',sans-serif;
    text-align: center;
    text-decoration: none;
    background: #000484;
    border: none;
    padding: .5rem 0.5rem;
    border-radius: 30px;
    box-shadow: 0px 0px 20px #54298760;
    bottom: 80px;
    transition: transform 0.5s;

    &:hover{
      transform: scale(1.05);
      box-shadow: 0px 0px 20px #54298760;
    }

    &__position{
      display: flex;
      align-items: center;
      justify-content: center;
      
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        margin: 0 4rem;
      }
    }
}



.btn-calendar-2 {
  width: 270px;
  height: 64px;
  font-size: 18px;
  font-family: 'RobotoRegular', sans-serif;
  text-decoration: none;
  box-shadow: 0px 24px 48px rgba(50, 54, 72, 0.24);
  border-radius: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  // transition: transform 0.5s;
  // -webkit-transition: transform 0.5s;
  cursor: auto;

  @include media500 {
    max-width: 200px;
  }

  &:hover {
    text-decoration: none;
    // transform: scale(1.03) translate(-50%, 0);
    // -webkit-transform: scale(1.03) translate(-50%, 0);
  }

  &--pink {
    background-color: $color-pink;
    color: $color-white;

    &:hover {
      color: $color-white;
    }
  }

  &--white {
    background-color: $color-white;
    color: $color-pruple-light;

    &:hover {
      color: $color-pruple-light;
    }
  }
}

.btn-calendar-3 {
  width: 240px;
  height: 54px;
  font-size: 14px !important;
  font-family: 'RobotoRegular', sans-serif !important;
  box-shadow: 0px 24px 48px rgba(50, 54, 72, 0.24) !important;
  border-radius: 16px !important;
  background-color: $color-white !important;
  color: $color-pruple-light !important;
  margin-top: 0.5rem;
  padding: 0.5rem !important;
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
  position: relative !important;
  transition: all 0.5s;

  @include media500 {
    max-width: 200px;
  }

  &:hover {
    color: $color-pruple-light;
    text-decoration: none;
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
  }

  img {
    width: 24px;
    margin-right: 10px;
  }
}

.btn-calendar-tcard {
  display: block !important;
  width: 205px !important;
  height: 55px !important;
  margin: 0 auto;
  font-size: 17px !important;
  color: $color-white !important;
  font-family: 'RobotoBold', sans-serif !important;
  text-align: center !important;
  text-decoration: none !important;
  background: $color-pruple-2 !important;
  padding: 1.2rem 0.2rem !important;
  border-radius: 30px !important;
  box-shadow: 0px 20px 70px rgba(6, 12, 58, 0.4) !important;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;

  &:hover {
    text-decoration: none !important;
    color: $color-white !important;
    transform: scale(1.05);
  }

  &:focus-within {
    color: $color-white !important;
  }
}

.addeventatc .addeventatc_icon {
  display: none !important;
}
